#registerSection {
    /* width:100%; */
    /* margin-top: 5%;
    margin-bottom: 22.5%; */
    width: 100%; padding: 0 7%; display: table; margin: 0; max-width: 100%;
    background-repeat: no-repeat; background-size: cover; height: 90vh; 
    background-image: url("https://pbs.twimg.com/media/FOZKlglUcAIoB2u?format=jpg&name=large");
    /* background-size: cover; */
  }
  
  
  