.carousel{
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 70%
}

.carouselTrackContainer{
    background: darkgray;
    height: 100%;
    position: relative;
}


.carouselSlide img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0%;
    /* object-fit: cover; */
}


.carouselTrack{
    padding:0;
    margin:0;
    list-style: none;
}

.carouselButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    color: gray;
    cursor: pointer;
    z-index: +1;
}

.carButton--Left{
    left: 0px
}

.carButton--Right{
    right:0px
}

.carouselNav{
    position:absolute;
    left: 165px;
    z-index: +1;
    padding: 10px 0;
}

.carouselIndicator{
    border: 0;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin-right: 2px;
    background:rgba(0,0,0,.3)
}

.carouselIndicator.currentSlide{
    background:rgba(0,0,0,.75)
}