.storeContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productsCard{
    width: 400px;
    min-height: 400px;
    height: 400px;
    margin-left:30px;
    margin-bottom: 30px;
}

.carousel{
    width: 100%;
    min-height: 400px;
    height: 400px;
}
